<!doctype html>
<html lang=en>
<head>
    <meta charset=UTF-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>Webpack POS</title>
</head>
<body>
  <main>
		{{ content_for_layout }}
	</main>
  <script type="text/javascript" src="{{ 'scripts/build/main.js' | asset_url }}"></script>
</body>
</html>